:root{
  --font_size: 14px;
  --header_bg:hsl(0, 0%, 100%);
  --body_bg:hsl(0, 0%, 98%);
  --shadow:#f3f3f3;
  --text_col:hsl(200, 15%, 8%);
  --info_text_col:hsl(205, 23%, 22%);
}
*{
  padding: 0px; 
  margin: 0px; 
  box-sizing: border-box; 
}
body{
  background: var(--body_bg);
  font-family: 'Nunito Sans', sans-serif;
  font-size: var(--font_size);
  font-weight: 700;
  color: var(--text_col);
}
.header{
  background: var(--header_bg);
  padding: 20px 0px;
  box-shadow: 0 3px 5px var(--shadow),  -0 -3px 5px var(--shadow);
  margin-bottom: 40px;
}
.header header{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  width: 90%; 
  margin: 0 auto;
}
.filter div{
  width: 90%; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter input{
  border: none;
  width: 100%; 
  height: 100%;
  color: hsl(0, 0%, 52%);
  background: var(--header_bg);
}
.filter input::placeholder{
  color: hsl(0, 0%, 52%);
}
.filter input:focus{
  outline: none;
}
.filter_elements{
  background: var(--header_bg);
  box-shadow: 2px 2px 2px 1px var(--shadow),  -2px -2px 2px 1px var(--shadow);
  height: 50px;
  border-radius: 5px;
}
.filter_elements i{
  cursor: pointer;
}
.filter form{
  display: flex;
  width: 40%;
  padding: 0 5px; 
  border-radius: 5px;
}
.filter span{
  width: 15%; 
  display: flex; 
  align-items: center; 
  padding-left: 20px;
  font-weight: 600;
}
.filter_regions{
  display: none;
  position: absolute; 
  top: 163px; 
  right: 67px; 
  width: 183px; 
  border-radius: 5px; 
  background: var(--header_bg);
  box-shadow: 2px 2px 2px 1px var(--shadow),  -2px -2px 2px 1px var(--shadow);
}
.filter_regions ul{
  margin: 20px 0px;
}
.filter_regions li{
  cursor: pointer;
  list-style: none; 
  margin: 5px 20px;
}
/*=========grid country===============*/
.countries{
  margin-top: 30px;
}
.countries > div{
  width:90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}
.countries > div > div{
  min-height: 340px; 
  overflow: hidden; 
  background: var(--header_bg);
  box-shadow: 0 3px 5px var(--shadow),  -0 -3px 5px var(--shadow);
  border-radius: 5px;
}
.countries img{
  width: 100%; 
  height: 180px;
  object-fit: cover;
}
.info{
  padding-left: 30px;
}
.info h1{
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}
.info p{
  font-weight: 600;
}
.info span{
  color: var(--info_text_col);
}
/*==========COUNTRY DETAIL PAGE==========*/
.country{
  display: none;
  width: 90%; 
  margin: 0 auto;
}
.back{
  width: 90px;
  height: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--shadow);
  background: var(--header_bg);
  color: var(--text_col);
}
.country > div{
  display: grid; 
  grid-template-columns: 450px 1fr;
  margin-top: 50px;
}
.countryFlag{
  height: 300px;
}
.countryFlag img{
  width: 450px; 
  height: 300px;
}
.countryDetail{
  margin-left: 100px; 
  margin-top: 30px;
}
.countryDetail h1{
  margin-bottom: 30px;
}
.countryDetail > div:nth-of-type(1){
  display: grid; 
  grid-template-columns: 350px 1fr;
}
.countryDetail p{
  margin-bottom: 10px;
  color: var(--text_col);
  font-weight: 600;
}
.countryDetail span{
  color: var(--info_text_col);
  font-weight: 500;
}
.border_countries{
  display: grid;
  grid-template-columns: 120px 1fr;
}
.buttons > span{
  color: var(--text_col);
  font-weight: 600;
}
.buttons button{
  width: 90px; 
  height: 25px; 
  border: none;
  box-shadow: 2px 2px 5px var(--shadow);
  background: var(--header_bg);
  color: var(--info_text_col);
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
